<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/RankUI/biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,55},{50,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,165}}</string>
                <key>sourceSize</key>
                <string>{50,165}</string>
            </dict>
            <key>lk/ui_res/RankUI/biaoqian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1},{50,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,165}}</string>
                <key>sourceSize</key>
                <string>{50,165}</string>
            </dict>
            <key>lk/ui_res/RankUI/fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{808,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,2}}</string>
                <key>sourceSize</key>
                <string>{808,2}</string>
            </dict>
            <key>lk/ui_res/RankUI/kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,7},{798,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,80}}</string>
                <key>sourceSize</key>
                <string>{798,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankUI.png</string>
            <key>size</key>
            <string>{979,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f6afe7b1ecf3c0874ec93e2e062986c:1/1$</string>
            <key>textureFileName</key>
            <string>RankUI.png</string>
        </dict>
    </dict>
</plist>
