<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/ShopUI/shouqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{282,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,246}</string>
			</dict>
			<key>commonUI/res/lk/ShopUI/shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,0},{60,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,33}</string>
			</dict>
			<key>commonUI/res/lk/ShopUI/wupinshuliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,23},{80,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,20}</string>
			</dict>
			<key>commonUI/res/lk/ShopUI/jinrigoumaicishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,0},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/ShopUI/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{281,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,244}</string>
			</dict>
			<key>commonUI/res/lk/ShopUI/cssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{164,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>ShopUI_Text.png</string>
			<key>size</key>
			<string>{945,246}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>945</integer>
			<key>height</key>
			<integer>246</integer>
		</dict>
	</dict>
</plist>