<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/CombatBeforePopUI/buzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,87},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>commonUI/res/cs/CombatBeforePopUI/jiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{183,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{183,82}}</string>
                <key>sourceSize</key>
                <string>{189,82}</string>
            </dict>
            <key>commonUI/res/cs/CombatBeforePopUI/jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{179,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{179,82}}</string>
                <key>sourceSize</key>
                <string>{189,82}</string>
            </dict>
            <key>commonUI/res/cs/CombatBeforePopUI/kaizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>commonUI/res/cs/CombatBeforePopUI/zhanqianzhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1},{191,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{191,56}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CombatBeforePopUI.png</string>
            <key>size</key>
            <string>{686,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b05907c2aee0036b8762e3eeb2e52a0:1/1$</string>
            <key>textureFileName</key>
            <string>CombatBeforePopUI.png</string>
        </dict>
    </dict>
</plist>
