<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/GuildBattleUI/IDbg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,198},{193,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,51}}</string>
                <key>sourceSize</key>
                <string>{193,51}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/IDbg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1},{193,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,51}}</string>
                <key>sourceSize</key>
                <string>{193,51}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1636},{121,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{121,110}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{633,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,261}}</string>
                <key>sourceSize</key>
                <string>{633,261}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/changan.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1062},{163,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,101}}</string>
                <key>sourceSize</key>
                <string>{163,101}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/changan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1485},{147,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{147,91}}</string>
                <key>sourceSize</key>
                <string>{163,101}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/changan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,895},{163,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,101}}</string>
                <key>sourceSize</key>
                <string>{163,101}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/chengdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1485},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/chengdu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1623},{122,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,70}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/chengdu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1028},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/dengdaigongcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1842},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/gezi_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1357},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/gezi_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1229},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/gonghui_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,638},{201,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,61}}</string>
                <key>sourceSize</key>
                <string>{201,61}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/hanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1381},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/hanzhong_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1623},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{104,62}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/hanzhong_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1309},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianan.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1237},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1453},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{104,62}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1761},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jiangxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1902},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jiangxia_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1453},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,52}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jiangxia_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1899},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianning.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1623},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianning_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1965},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,52}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianning_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1731},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianye.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,890},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianye_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,764},{122,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,70}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jianye_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1033},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/jingjiazhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1538},{42,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,71}}</string>
                <key>sourceSize</key>
                <string>{42,71}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,395},{199,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,48}}</string>
                <key>sourceSize</key>
                <string>{199,48}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/nanpi.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1749},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/nanpi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1909},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,52}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/nanpi_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1352},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1237},{115,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,8}}</string>
                <key>sourceSize</key>
                <string>{115,8}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/tianshui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1899},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/tianshui_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1171},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{104,62}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/tianshui_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1309},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,638},{177,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,253}}</string>
                <key>sourceSize</key>
                <string>{177,253}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xiacijingjia_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{310,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,39}}</string>
                <key>sourceSize</key>
                <string>{310,39}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xiapi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1259},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xiapi_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1824},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,52}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xiapi_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1166},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,895},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xuchang_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,638},{122,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,70}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/xuchang_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1761},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/yongan.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1561},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/yongan_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1964},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{81,52}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>lk/ui_res/GuildBattleUI/yongan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1352},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuildBattleUI.png</string>
            <key>size</key>
            <string>{318,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bfb77974977113d4dbb24f0386c79bb:1/1$</string>
            <key>textureFileName</key>
            <string>GuildBattleUI.png</string>
        </dict>
    </dict>
</plist>
