<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lk/ui_res/SquadPopUI/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,5},{33,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,5},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,5},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/biaoqian_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{148,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,64}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/biaoqian_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1},{147,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,59}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/fenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1},{394,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,2}</string>
			</dict>
			<key>lk/ui_res/SquadPopUI/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SquadPopUI.png</string>
			<key>realTextureFileName</key>
			<string>SquadPopUI.png</string>
			<key>size</key>
			<string>{734,66}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>734</integer>
			<key>height</key>
			<integer>66</integer>
		</dict>
	</dict>
</plist>