<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/SquadPopUI/bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,7},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,42},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,42},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/biaoqian_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,7},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/biaoqian_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,7},{147,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,59}}</string>
                <key>sourceSize</key>
                <string>{147,59}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,7},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>lk/ui_res/SquadPopUI/fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{394,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,2}}</string>
                <key>sourceSize</key>
                <string>{394,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SquadPopUI.png</string>
            <key>size</key>
            <string>{401,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf123279be35f04dff0dec3b773b6140:1/1$</string>
            <key>textureFileName</key>
            <string>SquadPopUI.png</string>
        </dict>
    </dict>
</plist>
