<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/LevelUpPopUI/dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>commonUI/res/cs/LevelUpPopUI/shengjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelUpPopUI.png</string>
            <key>size</key>
            <string>{173,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9111d18e16b1e1ac3c9e7fc46434f9a6:1/1$</string>
            <key>textureFileName</key>
            <string>LevelUpPopUI.png</string>
        </dict>
    </dict>
</plist>
