<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/CountryFightPopUI/nycgjbdr.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1129},{258,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,30}}</string>
                <key>sourceSize</key>
                <string>{258,30}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/nysw.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1163},{138,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,28}}</string>
                <key>sourceSize</key>
                <string>{138,28}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/zdjg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1129},{639,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,217}}</string>
                <key>sourceSize</key>
                <string>{639,217}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/zdjg_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1163},{404,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,72}}</string>
                <key>sourceSize</key>
                <string>{404,72}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/zdsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{493,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,372}}</string>
                <key>sourceSize</key>
                <string>{493,372}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/zdsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{493,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,372}}</string>
                <key>sourceSize</key>
                <string>{493,372}</string>
            </dict>
            <key>commonUI/res/cs/CountryFightPopUI/zdwx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{493,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,372}}</string>
                <key>sourceSize</key>
                <string>{493,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CountryFightUI_Text.png</string>
            <key>size</key>
            <string>{495,1769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9602303e8e153859aa05b15de935b67b:1/1$</string>
            <key>textureFileName</key>
            <string>CountryFightUI_Text.png</string>
        </dict>
    </dict>
</plist>
