<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/PokedexPopUI/qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/qun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/shoujijindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1},{100,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,23}}</string>
                <key>sourceSize</key>
                <string>{100,23}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/shu_1_pok.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,59},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/shu_pok.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,57},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,30},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/wei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,61},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,30},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/wu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,30},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>commonUI/res/lk/PokedexPopUI/wujiangtujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{357,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,100}}</string>
                <key>sourceSize</key>
                <string>{357,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PokedexPopUI_Text.png</string>
            <key>size</key>
            <string>{471,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3f39a94e3a72ad04b1fe5062a1824b5:1/1$</string>
            <key>textureFileName</key>
            <string>PokedexPopUI_Text.png</string>
        </dict>
    </dict>
</plist>
