<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/MailOnePopUI/jijianren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>commonUI/res/lk/MailOnePopUI/youxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{524,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,560}}</string>
                <key>sourceSize</key>
                <string>{524,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MailOnePopUI_Text.png</string>
            <key>size</key>
            <string>{526,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd727c13d22c5c5b0c9aba195a5d037:1/1$</string>
            <key>textureFileName</key>
            <string>MailOnePopUI_Text.png</string>
        </dict>
    </dict>
</plist>
