<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs/ui_res/FbSelectUI/cl.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1},{163,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,120}}</string>
                <key>sourceSize</key>
                <string>{163,120}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/guildprize_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,77},{315,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,21}}</string>
                <key>sourceSize</key>
                <string>{315,21}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/guildprize_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,72},{835,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,52}}</string>
                <key>sourceSize</key>
                <string>{835,52}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/jindu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,112},{103,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,11}}</string>
                <key>sourceSize</key>
                <string>{107,15}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/jindudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1},{107,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,15}}</string>
                <key>sourceSize</key>
                <string>{107,15}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/pve_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,19},{880,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,28}}</string>
                <key>sourceSize</key>
                <string>{880,28}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/pve_tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{572,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,67}}</string>
                <key>sourceSize</key>
                <string>{572,67}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/pve_tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1},{925,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{925,14}}</string>
                <key>sourceSize</key>
                <string>{925,14}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/pve_tiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,51},{546,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{546,22}}</string>
                <key>sourceSize</key>
                <string>{546,28}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/pve_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,19},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/start_tuitu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>cs/ui_res/FbSelectUI/tit.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FbSelectUI.png</string>
            <key>size</key>
            <string>{1896,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a35d8dd826484bcae43eb2a19a3015:1/1$</string>
            <key>textureFileName</key>
            <string>FbSelectUI.png</string>
        </dict>
    </dict>
</plist>
