<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/GvgUI/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1},{602,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,208}}</string>
                <key>sourceSize</key>
                <string>{602,208}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/cyjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,412},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/dacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,371},{99,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,64}}</string>
                <key>sourceSize</key>
                <string>{99,64}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/gcjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,245},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/gongchengdaojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,277},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,39}}</string>
                <key>sourceSize</key>
                <string>{270,39}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/houkefuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,412},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/jingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{591,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,448}}</string>
                <key>sourceSize</key>
                <string>{591,448}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/jingjiadaojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,369},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,39}}</string>
                <key>sourceSize</key>
                <string>{270,39}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/jjpm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,213},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/jlfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,414},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/jrzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,414},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/lijifuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,414},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/lingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1},{475,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,366}}</string>
                <key>sourceSize</key>
                <string>{475,366}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,242},{123,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,100}}</string>
                <key>sourceSize</key>
                <string>{123,100}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/shengli_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,213},{348,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,28}}</string>
                <key>sourceSize</key>
                <string>{348,28}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,242},{123,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,100}}</string>
                <key>sourceSize</key>
                <string>{123,100}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/shibai_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,245},{318,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,28}}</string>
                <key>sourceSize</key>
                <string>{318,28}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/xiacijingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,371},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,39}}</string>
                <key>sourceSize</key>
                <string>{270,39}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/zdjs_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,371},{248,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,67}}</string>
                <key>sourceSize</key>
                <string>{248,67}</string>
            </dict>
            <key>commonUI/res/lk/GvgUI/zhandoujieguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,213},{118,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,25}}</string>
                <key>sourceSize</key>
                <string>{118,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GvgUI_Text.png</string>
            <key>size</key>
            <string>{1678,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7593432ebd9a9f8d1e05eca5d1fba503:1/1$</string>
            <key>textureFileName</key>
            <string>GvgUI_Text.png</string>
        </dict>
    </dict>
</plist>
