<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/huodejingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/tianjiawujiangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/wujiangzidongtianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,37},{268,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,25}}</string>
                <key>sourceSize</key>
                <string>{268,25}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/xiaohaotongqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/xiayijishengjijingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{155,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,21}}</string>
                <key>sourceSize</key>
                <string>{155,21}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceOnePopUI/zidongtianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1},{112,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,32}}</string>
                <key>sourceSize</key>
                <string>{112,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnhanceOnePopUI_Text.png</string>
            <key>size</key>
            <string>{479,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc64776e650f4896d68b84ddf0ee262:1/1$</string>
            <key>textureFileName</key>
            <string>EnhanceOnePopUI_Text.png</string>
        </dict>
    </dict>
</plist>
