<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/common/battle_attact.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,137},{176,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,52}</string>
			</dict>
			<key>commonUI/res/common/chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,287},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>commonUI/res/common/cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{84,42}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>commonUI/res/common/congz.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,310},{57,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,27}</string>
			</dict>
			<key>commonUI/res/common/cs.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,213},{57,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,35}</string>
			</dict>
			<key>commonUI/res/common/csjg.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,322},{108,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,23}</string>
			</dict>
			<key>commonUI/res/common/csjg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,325},{108,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,23}</string>
			</dict>
			<key>commonUI/res/common/defent.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,191},{169,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,52}</string>
			</dict>
			<key>commonUI/res/common/djzli.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,319},{115,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,23}</string>
			</dict>
			<key>commonUI/res/common/dllj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{357,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,100}</string>
			</dict>
			<key>commonUI/res/common/eulaTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,349},{452,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,25}</string>
			</dict>
			<key>commonUI/res/common/fasong.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,137},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/common/fj.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,137},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>commonUI/res/common/fyzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,55},{175,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,60}</string>
			</dict>
			<key>commonUI/res/common/gjzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{182,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,60}</string>
			</dict>
			<key>commonUI/res/common/gonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,203},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,43}</string>
			</dict>
			<key>commonUI/res/common/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,203},{59,31}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/common/ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,157},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>commonUI/res/common/jifenshangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{164,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,44}</string>
			</dict>
			<key>commonUI/res/common/jijies.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,334},{60,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,20}</string>
			</dict>
			<key>commonUI/res/common/jinjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,171},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/common/li.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,245},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>commonUI/res/common/li_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,245},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>commonUI/res/common/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,269},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/common/ljl.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,55},{101,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,80}</string>
			</dict>
			<key>commonUI/res/common/lqjla.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>commonUI/res/common/mou.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,167},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>commonUI/res/common/mou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,142},{26,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>commonUI/res/common/pveAward_isAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,55},{124,80}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,85}</string>
			</dict>
			<key>commonUI/res/common/qck.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,316},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>commonUI/res/common/qixtan.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,136},{123,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,41}</string>
			</dict>
			<key>commonUI/res/common/quanbu.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,115},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
			<key>commonUI/res/common/quanbu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,61},{26,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,50}</string>
			</dict>
			<key>commonUI/res/common/qued.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,205},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/common/quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,280},{59,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>commonUI/res/common/selectText.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1},{58,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,134}</string>
			</dict>
			<key>commonUI/res/common/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,248},{83,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,43}</string>
			</dict>
			<key>commonUI/res/common/shengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,238},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/common/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,167},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>commonUI/res/common/shu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,61},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>commonUI/res/common/suipian.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,329},{64,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,21}</string>
			</dict>
			<key>commonUI/res/common/th.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,245},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/common/tianti.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,329},{83,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,42}</string>
			</dict>
			<key>commonUI/res/common/tiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,247},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/common/tueij.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,179},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>commonUI/res/common/tyxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,190},{134,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,31}</string>
			</dict>
			<key>commonUI/res/common/vipTeqaun.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,289},{104,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,31}</string>
			</dict>
			<key>commonUI/res/common/weikaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,312},{61,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,20}</string>
			</dict>
			<key>commonUI/res/common/wujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,248},{83,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>commonUI/res/common/xiaohaotongqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,323},{97,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,24}</string>
			</dict>
			<key>commonUI/res/common/xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,245},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>commonUI/res/common/ybao.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,219},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>
			<key>commonUI/res/common/yhxy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,223},{162,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,23}</string>
			</dict>
			<key>commonUI/res/common/yhxy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{175,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,23}</string>
			</dict>
			<key>commonUI/res/common/yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,113},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>commonUI/res/common/yi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,193},{25,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>commonUI/res/common/yijingyongyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,228},{156,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,24}</string>
			</dict>
			<key>commonUI/res/common/yiyongyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,304},{65,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,23}</string>
			</dict>
			<key>commonUI/res/common/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,194},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>commonUI/res/common/yxsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,157},{164,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,44}</string>
			</dict>
			<key>commonUI/res/common/zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,271},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/common/zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{772,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{772,52}</string>
			</dict>
			<key>commonUI/res/common/zhucheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,245},{84,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>commonUI/res/common/zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,203},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>commonUI/res/common/zongjiacheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,376},{493,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,37}</string>
			</dict>
			<key>commonUI/res/common/zr.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,271},{82,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,43}</string>
			</dict>
			<key>commonUI/res/common/js1.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,115},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/common/js2.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,61},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/common/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,302},{73,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,25}</string>
			</dict>
			<key>commonUI/res/common/gengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,236},{59,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,31}</string>
			</dict>
			<key>commonUI/res/common/djxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,289},{100,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,32}</string>
			</dict>
			<key>commonUI/res/common/jujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,278},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/common/tongyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,179},{58,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,32}</string>
			</dict>
			<key>commonUI/res/common/bu.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,115},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>commonUI/res/common/bu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,88},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>commonUI/res/common/gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,193},{21,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>
			<key>commonUI/res/common/gong_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,182},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>commonUI/res/common/qi.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,140},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>commonUI/res/common/qi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,168},{26,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>commonUI/res/common/zhanlipin.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,292},{87,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CC_commonText.png</string>
			<key>realTextureFileName</key>
			<string>CC_commonText.png</string>
			<key>size</key>
			<string>{1021,414}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>414</integer>
		</dict>
	</dict>
</plist>