<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/GameSetPopUI/dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/genghuantouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,93},{116,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/guojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,41},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/mingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/qhfwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,93},{144,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,31}}</string>
                <key>sourceSize</key>
                <string>{144,31}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/shengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{464,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,36}}</string>
                <key>sourceSize</key>
                <string>{464,36}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,41},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/shuruyaoqingma.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,41},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/tuichuguojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,68},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,41},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>commonUI/res/cs/GameSetPopUI/zhuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,41},{59,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSetPopUI.png</string>
            <key>size</key>
            <string>{466,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd009d5f64eaa06a4432adf77cb05f8c:1/1$</string>
            <key>textureFileName</key>
            <string>GameSetPopUI.png</string>
        </dict>
    </dict>
</plist>
