<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/GuildBattleMapUI/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1667},{132,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{132,98}}</string>
                <key>sourceSize</key>
                <string>{166,132}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1051},{166,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,132}}</string>
                <key>sourceSize</key>
                <string>{166,132}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{166,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,132}}</string>
                <key>sourceSize</key>
                <string>{166,132}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1218},{136,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{136,96}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/2_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,707},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,533},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1555},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{120,108}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{156,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,142}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{156,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,142}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1786},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{129,90}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/4_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1525},{163,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/4_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1388},{163,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1692},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{129,90}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/5_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1358},{163,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/5_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1221},{163,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,126},{119,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,12}}</string>
                <key>sourceSize</key>
                <string>{119,12}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/blood_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,791},{267,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,24}}</string>
                <key>sourceSize</key>
                <string>{267,24}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/combat_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1062},{152,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,77}}</string>
                <key>sourceSize</key>
                <string>{152,77}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/dun_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1803},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/dun_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1803},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/fuhuo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{243,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,121}}</string>
                <key>sourceSize</key>
                <string>{243,121}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/gonghui_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,445},{200,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,57}}</string>
                <key>sourceSize</key>
                <string>{200,57}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/gonghui_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,241},{200,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,57}}</string>
                <key>sourceSize</key>
                <string>{200,57}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,533},{115,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,8}}</string>
                <key>sourceSize</key>
                <string>{115,8}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,791},{267,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,24}}</string>
                <key>sourceSize</key>
                <string>{267,24}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/hp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,520},{267,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,24}}</string>
                <key>sourceSize</key>
                <string>{267,24}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/hpdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,249},{267,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,24}}</string>
                <key>sourceSize</key>
                <string>{267,24}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/hpout.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,649},{276,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,34}}</string>
                <key>sourceSize</key>
                <string>{276,34}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/judianID_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,929},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,34}}</string>
                <key>sourceSize</key>
                <string>{140,34}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,533},{115,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,8}}</string>
                <key>sourceSize</key>
                <string>{115,8}</string>
            </dict>
            <key>lk/ui_res/GuildBattleMapUI/waifagaung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuildBattleMapUI.png</string>
            <key>size</key>
            <string>{254,1877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61871530bfa3c92d89f1750dde64ebb3:1/1$</string>
            <key>textureFileName</key>
            <string>GuildBattleMapUI.png</string>
        </dict>
    </dict>
</plist>
