<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/SquadPopUI/blqs_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/blqs_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1},{118,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/dtms_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/dtms_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1},{118,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/sblp_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1},{126,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,34}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/sblp_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,1},{117,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,33}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/tjzr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{357,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,100}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/yckz_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1},{125,34}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/yckz_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1},{116,33}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/fssc_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1},{125,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,34}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/fssc_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,1},{116,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,33}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/gfjb_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1},{126,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,35}</string>
			</dict>
			<key>commonUI/res/lk/SquadPopUI/gfjb_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1},{118,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SquadPopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>SquadPopUI_Text.png</string>
			<key>size</key>
			<string>{1840,102}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1840</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</plist>