<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/SquadPopUI/blqs_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,40},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/blqs_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/dtms_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,40},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/dtms_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/fssc_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,79},{126,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/fssc_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/gfjb_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/gfjb_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/sblp_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,79},{126,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/sblp_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/tjzr.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{357,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,100}}</string>
                <key>sourceSize</key>
                <string>{357,100}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/yckz_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>commonUI/res/lk/SquadPopUI/yckz_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{116,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SquadPopUI_Text.png</string>
            <key>size</key>
            <string>{845,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:619e903e03d38a60e1f3b704f48ca5b9:1/1$</string>
            <key>textureFileName</key>
            <string>SquadPopUI_Text.png</string>
        </dict>
    </dict>
</plist>
