<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/UnionUI/Union_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{853,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,124}}</string>
                <key>sourceSize</key>
                <string>{853,124}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{546,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,88}}</string>
                <key>sourceSize</key>
                <string>{546,88}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{786,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,88}}</string>
                <key>sourceSize</key>
                <string>{786,88}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_bluetili.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,354},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,359},{146,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,156}}</string>
                <key>sourceSize</key>
                <string>{146,156}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1},{859,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,113}}</string>
                <key>sourceSize</key>
                <string>{859,113}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_freetili.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,278},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_huoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,150},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,340},{293,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,20}}</string>
                <key>sourceSize</key>
                <string>{293,20}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_jindu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,476},{299,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,28}}</string>
                <key>sourceSize</key>
                <string>{299,28}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_mail_ban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,451},{504,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,64}}</string>
                <key>sourceSize</key>
                <string>{504,64}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_mail_ban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,150},{504,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,124}}</string>
                <key>sourceSize</key>
                <string>{504,124}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_mobaiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1},{212,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,262}}</string>
                <key>sourceSize</key>
                <string>{212,262}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_putin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,408},{341,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,64}}</string>
                <key>sourceSize</key>
                <string>{341,64}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,434},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_red_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,277},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_sframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,364},{245,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,66}}</string>
                <key>sourceSize</key>
                <string>{245,66}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,1},{315,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,21}}</string>
                <key>sourceSize</key>
                <string>{315,21}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,118},{817,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,28}}</string>
                <key>sourceSize</key>
                <string>{817,28}</string>
            </dict>
            <key>lk/ui_res/UnionUI/Union_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{835,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,52}}</string>
                <key>sourceSize</key>
                <string>{835,52}</string>
            </dict>
            <key>lk/ui_res/UnionUI/bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,278},{355,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,126}}</string>
                <key>sourceSize</key>
                <string>{355,126}</string>
            </dict>
            <key>lk/ui_res/UnionUI/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,217},{350,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,119}}</string>
                <key>sourceSize</key>
                <string>{350,119}</string>
            </dict>
            <key>lk/ui_res/UnionUI/bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{615,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,78}}</string>
                <key>sourceSize</key>
                <string>{615,78}</string>
            </dict>
            <key>lk/ui_res/UnionUI/bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,150},{365,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,264}}</string>
                <key>sourceSize</key>
                <string>{365,264}</string>
            </dict>
            <key>lk/ui_res/UnionUI/biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,434},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>lk/ui_res/UnionUI/biaoqian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,434},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UnionUI.png</string>
            <key>size</key>
            <string>{2009,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64537e2fdc8e7cbfd338982d3aff26af:1/1$</string>
            <key>textureFileName</key>
            <string>UnionUI.png</string>
        </dict>
    </dict>
</plist>
