<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/ChatUI/chat_ban_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{649,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,561}}</string>
                <key>sourceSize</key>
                <string>{649,561}</string>
            </dict>
            <key>lk/ui_res/ChatUI/chat_fengex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,566},{620,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,1}}</string>
                <key>sourceSize</key>
                <string>{620,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChatBgUI.png</string>
            <key>size</key>
            <string>{651,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2eb6b3f291f1ea9af4c2187d6af9a05:1/1$</string>
            <key>textureFileName</key>
            <string>ChatBgUI.png</string>
        </dict>
    </dict>
</plist>
