<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/benzhangkenengdiaoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{239,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,25}}</string>
                <key>sourceSize</key>
                <string>{239,25}</string>
            </dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/querenshenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,73},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/weishenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,30},{140,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,68}}</string>
                <key>sourceSize</key>
                <string>{140,68}</string>
            </dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,30},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/yishenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{140,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,68}}</string>
                <key>sourceSize</key>
                <string>{140,68}</string>
            </dict>
            <key>commonUI/res/cs/TdFBAwardPopUI/zhanlipinshenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,73},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TdFBAwardPopUI.png</string>
            <key>size</key>
            <string>{401,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ae2763dabbe810d97a9158d059307a:1/1$</string>
            <key>textureFileName</key>
            <string>TdFBAwardPopUI.png</string>
        </dict>
    </dict>
</plist>
