<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/UnionUI/chazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1167},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chazhaogonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,730},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1082},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chengyuanguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,490},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chengyuanguanli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,610},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chexiaozhanglao.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,855},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,424},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chuangjiangonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,490},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/chuangjianhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,968},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1112},{86,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,23}}</string>
                <key>sourceSize</key>
                <string>{86,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/fenlei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{490,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,36}}</string>
                <key>sourceSize</key>
                <string>{490,36}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/fubentiaozhancishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,76},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ghjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,723},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gongdafuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,358},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonggaoxiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,359},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuiID.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1021},{87,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,23}}</string>
                <key>sourceSize</key>
                <string>{87,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuichengyuanshuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,76},{158,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,23}}</string>
                <key>sourceSize</key>
                <string>{158,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuidengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,595},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuiguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1090},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuijuanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,970},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuileixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,28},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuiliuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,850},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuiliuyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,478},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuimingcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,587},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuirizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,607},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuirizhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,730},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuishangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,28},{164,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,44}}</string>
                <key>sourceSize</key>
                <string>{164,44}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuishengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,823},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuishezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,839},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuishezhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,610},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuishop.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,490},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,481},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gonghuixuanyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1284},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/gongxianhuoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,714},{196,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,23}}</string>
                <key>sourceSize</key>
                <string>{196,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jbjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1149},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jbjx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1043},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1255},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jiarugonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1249},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jiesangonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1214},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jinrimobaicishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1},{206,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,23}}</string>
                <key>sourceSize</key>
                <string>{206,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jrjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,937},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/jrjx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1061},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/juanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1231},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/kaiqifuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,362},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/leijilingqujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{215,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,23}}</string>
                <key>sourceSize</key>
                <string>{215,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/lingqujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,371},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/lsjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,955},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/lsjx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,815},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/mianfeimobai.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,142},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/mobai.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,426},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/mobaidashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,975},{115,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,33}}</string>
                <key>sourceSize</key>
                <string>{115,33}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/mobaidashen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,594},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/qirihuoyuegongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,251},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/quanyuanyoujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,242},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/querenxiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1094},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ruhuishenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,238},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ruhuishenqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,968},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ruhuizuixiaodengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1086},{158,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,23}}</string>
                <key>sourceSize</key>
                <string>{158,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/shangxianshijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,76},{158,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,23}}</string>
                <key>sourceSize</key>
                <string>{158,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/shengjigonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,251},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/shengweihuizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,735},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/shengweizhanglao.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,615},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/suoyouchengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,921},{96,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,23}}</string>
                <key>sourceSize</key>
                <string>{96,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/tichugonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1094},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/tuanduifuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,850},{114,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/tuanduifuben2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,709},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/tuichugonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,495},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xiaohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,709},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1249},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xiugaigonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,76},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xuanzemobaifangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,251},{169,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,30}}</string>
                <key>sourceSize</key>
                <string>{169,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xuanzetubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,242},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/xuyaoXXji.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,76},{129,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,23}}</string>
                <key>sourceSize</key>
                <string>{129,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/yaoqiugonghuihuoyuedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,914},{168,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,23}}</string>
                <key>sourceSize</key>
                <string>{168,23}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ybjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,709},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/ybjx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,481},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>commonUI/res/lk/UnionUI/zuihoushangxianshijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,76},{171,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,32}}</string>
                <key>sourceSize</key>
                <string>{171,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UnionUI_Text.png</string>
            <key>size</key>
            <string>{254,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aee8042f2cb7b4b61c8612efe6133698:1/1$</string>
            <key>textureFileName</key>
            <string>UnionUI_Text.png</string>
        </dict>
    </dict>
</plist>
