<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/UnionUI/chazhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,58},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chazhaogonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,35},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,138},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,26},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjiangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chuangjianhuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,138},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,47},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiID.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,167},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiliuyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,74},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuimingcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,89},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuitubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,89},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuixuanyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,89},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,35},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiarugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,1},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobaidashen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,1},{115,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuanduifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,59},{114,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,105},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,68},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuyaoXXji.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,137},{129,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuileixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,114},{110,23}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/querenxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuizuixiaodengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonggaoxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,59},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuiliuyan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,107},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuirizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,92},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuirizhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,59},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuanzetubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,88},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fasong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,192},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuanguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,102},{113,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fubentiaozhancishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,39},{171,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuichengyuanshuliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,26},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/qirihuoyuegongxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,72},{171,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/zuihoushangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,39},{171,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mianfeimobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1328,89},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xuanzemobaifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{169,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gongxianhuoyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1},{196,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shangxianshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,51},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chexiaozhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,39},{116,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengweihuizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,1},{116,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengweizhanglao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1},{116,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tichugonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,33}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuishenqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,59},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/chengyuanguanli2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishezhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,26},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jiesangonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,36},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/quanyuanyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,36},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ruhuishenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,68},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,76},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gongdafuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,101},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/kaiqifuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,109},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/tuanduifuben2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,59},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/yaoqiugonghuihuoyuedu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,1},{168,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jinrimobaicishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1},{206,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/leijilingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1},{215,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lingqujiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,134},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/mobaidashen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,80},{111,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,29}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/fenlei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,36}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ghjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,111},{112,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jbjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,105},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jbjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,102},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jrjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,131},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/jrjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,134},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/juanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,47},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lsjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,134},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/lsjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,142},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ybjx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,167},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/ybjx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,89},{102,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,30}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuijuanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,69},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/xiaohao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,76},{40,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/shengjigonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,69},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,59},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuidengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,114},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{164,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,44}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/gonghuishop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,101},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/UnionUI/suoyouchengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1328,115},{96,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>UnionUI_Text.png</string>
			<key>size</key>
			<string>{2034,216}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2034</integer>
			<key>height</key>
			<integer>216</integer>
		</dict>
	</dict>
</plist>