<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/icons/6star.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,239},{147,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,24}</string>
			</dict>
			<key>commonUI/res/icons/achievement_copper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,115},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>commonUI/res/icons/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,432},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,380},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/adddd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,371},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>commonUI/res/icons/arrow_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,362},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>commonUI/res/icons/arrow_base2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,291},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>
			<key>commonUI/res/icons/at_de.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,403},{120,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,62}</string>
			</dict>
			<key>commonUI/res/icons/avatar_archer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,189},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/avatar_cavalry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,291},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/avatar_infantry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,189},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>commonUI/res/icons/back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,324},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>commonUI/res/icons/back_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,285},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>commonUI/res/icons/bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,585},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>
			<key>commonUI/res/icons/baoBut.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,667},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>commonUI/res/icons/battle_archer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,668},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/battle_button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,77},{57,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,269},{56,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,173},{57,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_button2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,361},{56,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,94}</string>
			</dict>
			<key>commonUI/res/icons/battle_footman.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,707},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/battle_rider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,701},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>commonUI/res/icons/bbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,211},{154,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,26}</string>
			</dict>
			<key>commonUI/res/icons/biaozhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,103},{40,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>
			<key>commonUI/res/icons/bingying_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{194,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,42}</string>
			</dict>
			<key>commonUI/res/icons/blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,143},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/blue_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,218},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,746},{96,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,33}</string>
			</dict>
			<key>commonUI/res/icons/bow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,191},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/bu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,293},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/bu_down_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,253},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/but.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,328},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,355},{51,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,92}</string>
			</dict>
			<key>commonUI/res/icons/card_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,431},{51,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,92}</string>
			</dict>
			<key>commonUI/res/icons/card_wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,274},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>commonUI/res/icons/card_Zframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,531},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>commonUI/res/icons/card_Zgou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,720},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>commonUI/res/icons/card_zhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,516},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>commonUI/res/icons/card_Zline.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,312},{442,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{442,2}</string>
			</dict>
			<key>commonUI/res/icons/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,447},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/close_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,467},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,380},{37,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,40}</string>
			</dict>
			<key>commonUI/res/icons/CombatD_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,260},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>commonUI/res/icons/CombatD_rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,265},{39,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,5}</string>
			</dict>
			<key>commonUI/res/icons/Compound_piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{2011,373},{31,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,26}</string>
			</dict>
			<key>commonUI/res/icons/Compound_qun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,430},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>commonUI/res/icons/dian_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,286},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>commonUI/res/icons/dian_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,308},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>commonUI/res/icons/dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{485,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,74}</string>
			</dict>
			<key>commonUI/res/icons/fangda.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,614},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>commonUI/res/icons/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,368},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/green_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,443},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/grid.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,307},{104,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,53}</string>
			</dict>
			<key>commonUI/res/icons/head_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,422},{37,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,27}</string>
			</dict>
			<key>commonUI/res/icons/head_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,77},{124,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,125}</string>
			</dict>
			<key>commonUI/res/icons/head_li.png</key>
			<dict>
				<key>frame</key>
				<string>{{2011,401},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>commonUI/res/icons/headdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,500},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>commonUI/res/icons/headout.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,227},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>commonUI/res/icons/hero_avarta_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/huatong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,467},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>commonUI/res/icons/hunjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,302},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>commonUI/res/icons/IntegralUI_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,346},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>commonUI/res/icons/itemframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,205},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>commonUI/res/icons/itemframe_low.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,283},{187,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,14}</string>
			</dict>
			<key>commonUI/res/icons/jindutiaobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{194,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,22}</string>
			</dict>
			<key>commonUI/res/icons/knife.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,229},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/loging_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/loging_done.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,410},{87,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>
			<key>commonUI/res/icons/loging_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,73},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>commonUI/res/icons/main_power.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,585},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>commonUI/res/icons/main_sbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,659},{150,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>commonUI/res/icons/mainhead1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,457},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>commonUI/res/icons/mianBut.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,701},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>commonUI/res/icons/miu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,507},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/miu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,507},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1760,518},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/normal_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,227},{134,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,73}</string>
			</dict>
			<key>commonUI/res/icons/novice_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,73},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>
			<key>commonUI/res/icons/novice_quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,73},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>commonUI/res/icons/Point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,218},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure_efct.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,204},{116,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,101}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,461},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>commonUI/res/icons/pve_treasure2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,302},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>commonUI/res/icons/pve_yiningqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,781},{88,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,30}</string>
			</dict>
			<key>commonUI/res/icons/qianghua_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,215},{76,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,33}</string>
			</dict>
			<key>commonUI/res/icons/refresh_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,77},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>commonUI/res/icons/Results_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,305},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>commonUI/res/icons/Results_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,449},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>commonUI/res/icons/rider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,267},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>commonUI/res/icons/soldier_Data_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,556},{54,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>commonUI/res/icons/soul.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,228},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>commonUI/res/icons/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,406},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>commonUI/res/icons/star_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,333},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>commonUI/res/icons/star_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,286},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>
			<key>commonUI/res/icons/star_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,250},{71,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,24}</string>
			</dict>
			<key>commonUI/res/icons/star_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,286},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
			<key>commonUI/res/icons/star_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,260},{119,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,24}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,265},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,283},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/StrengthenCrad_exp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,291},{112,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,16}</string>
			</dict>
			<key>commonUI/res/icons/tax_red_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,315},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>commonUI/res/icons/th.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,227},{19,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,57}</string>
			</dict>
			<key>commonUI/res/icons/tianti_arrow_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,388},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>commonUI/res/icons/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{936,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{936,70}</string>
			</dict>
			<key>commonUI/res/icons/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,1},{357,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,100}</string>
			</dict>
			<key>commonUI/res/icons/today.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,73},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>commonUI/res/icons/trip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2011,330},{24,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,41}</string>
			</dict>
			<key>commonUI/res/icons/VIPdouble.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,260},{88,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,29}</string>
			</dict>
			<key>commonUI/res/icons/wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,227},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>commonUI/res/icons/wenhao_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,287},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>commonUI/res/icons/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,169},{35,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,57}</string>
			</dict>
			<key>commonUI/res/icons/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,347},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>commonUI/res/icons/50003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>commonUI/res/icons/payYuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,464},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>commonUI/res/icons/de.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,365},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>commonUI/res/icons/at.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,602},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>commonUI/res/icons/czbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,191},{98,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,92}</string>
			</dict>
			<key>commonUI/res/icons/headgg.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,276},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>commonUI/res/icons/Union_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,542},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,539},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,582},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_right1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,609},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>commonUI/res/icons/N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,253},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>commonUI/res/icons/Union_but_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,77},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_but_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,152},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>commonUI/res/icons/Union_but_l_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,103},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>commonUI/res/icons/hw_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,375},{79,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,70}</string>
			</dict>
			<key>commonUI/res/icons/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,593},{105,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,64}</string>
			</dict>
			<key>commonUI/res/icons/gongchengzhanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,684},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>commonUI/res/icons/fangyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,525},{63,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,75}</string>
			</dict>
			<key>commonUI/res/icons/Union_but_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,178},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>commonUI/res/icons/lvkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,305},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>commonUI/res/icons/qipao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,103},{132,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,86}</string>
			</dict>
			<key>commonUI/res/icons/gundong-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,211},{242,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icons.png</string>
			<key>realTextureFileName</key>
			<string>icons.png</string>
			<key>size</key>
			<string>{2048,812}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>812</integer>
		</dict>
	</dict>
</plist>