<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/HeroKillUI/guoguanzhanjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{164,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,43}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/diyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,27},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/emeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,27},{59,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,37}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/jiandan.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,27},{59,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,36}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/kunnan.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{61,35}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/saodang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,46},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/zhandou.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,46},{58,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,30}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/guanqiajiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
			<key>commonUI/res/lk/HeroKillUI/suijidiaoluo.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HeroKillUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>HeroKillUI_Text.png</string>
			<key>size</key>
			<string>{423,78}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>423</integer>
			<key>height</key>
			<integer>78</integer>
		</dict>
	</dict>
</plist>