<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/InfoPopUI/cxlj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>commonUI/res/cs/InfoPopUI/lianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{237,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,24}}</string>
                <key>sourceSize</key>
                <string>{237,24}</string>
            </dict>
            <key>commonUI/res/cs/InfoPopUI/wlljsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,29},{236,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{236,24}}</string>
                <key>sourceSize</key>
                <string>{252,24}</string>
            </dict>
            <key>commonUI/res/cs/InfoPopUI/wozhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InfoPopUI.png</string>
            <key>size</key>
            <string>{421,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db89dea222939e8fd314b2b789dbf049:1/1$</string>
            <key>textureFileName</key>
            <string>InfoPopUI.png</string>
        </dict>
    </dict>
</plist>
