<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/WarUI/benlungongxianpaixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,703},{211,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/benlungongxianpaixu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,703},{212,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/bg_shouwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,589},{170,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,218}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/chengzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,264},{52,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,19}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/dangqianguanzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,115},{109,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,23}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,514},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanzhirenmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,665},{115,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,32}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guanzhirenmian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,659},{119,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,30}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,185},{81,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,43}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiagonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,140},{87,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,22}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,549},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiakufang.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,185},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiakufang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,58},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/guojiaxinxi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/huangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,241},{57,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,21}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/jinrushijie.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,249},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/jinrushijie_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{423,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,173}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/kaizhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,128},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/likaishijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,760},{173,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,39}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/quanyuanyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,760},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,32}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/qunxiong_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,338},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/renmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,546},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanghaibang.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,242},{88,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanghaipaihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,760},{150,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,29}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanglungongxianpaixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,128},{211,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shanglungongxianpaixu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,703},{212,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shijierukou.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,58},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shijierukou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,281},{180,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,55}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,176},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,426},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/shu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,295},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/siwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,760},{114,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,37}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tingtianyouming.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,249},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,809},{646,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,627},{577,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{577,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital3.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,665},{490,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tital4.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,589},{635,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,36}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/tuwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,209},{58,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,176},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,295},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,338},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,422},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,470},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,470},{180,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,292}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,426},{113,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,86}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/wu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,125}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xiezhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,176},{58,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,31}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,549},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,32}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/xuanzeguojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,764},{353,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,78}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/yuanjun.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,285},{52,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,19}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/yuanjunguanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,627},{120,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,30}</string>
			</dict>
			<key>commonUI/res/lk/WarUI/zhengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,514},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string> WarUI_Text.png</string>
			<key>realTextureFileName</key>
			<string> WarUI_Text.png</string>
			<key>size</key>
			<string>{1266,846}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1266</integer>
			<key>height</key>
			<integer>846</integer>
		</dict>
	</dict>
</plist>