<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/WarUI/benlungongxianpaixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,642},{211,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,55}}</string>
                <key>sourceSize</key>
                <string>{211,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/benlungongxianpaixu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,583},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/bg_shouwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,350},{170,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,218}}</string>
                <key>sourceSize</key>
                <string>{170,218}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/bg_yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1},{168,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,216}}</string>
                <key>sourceSize</key>
                <string>{168,216}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/chengzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,760},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/dangqianguanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1161},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,825},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guanzhirenmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1109},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guanzhirenmian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,892},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,922},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiagonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1161},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiaguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1145},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiakufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,996},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiakufang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,515},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiaxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,515},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/guojiaxinxi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,524},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/huangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1162},{62,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{62,23}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/jinrushijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,989},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/jinrushijie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{845,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,345}}</string>
                <key>sourceSize</key>
                <string>{845,345}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/kaizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,948},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/ketiaozhancishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,822},{243,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,62}}</string>
                <key>sourceSize</key>
                <string>{243,62}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/likaishijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,819},{173,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,39}}</string>
                <key>sourceSize</key>
                <string>{173,39}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/mrphb.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,480},{144,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,31}}</string>
                <key>sourceSize</key>
                <string>{144,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/mrphb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,962},{121,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,23}}</string>
                <key>sourceSize</key>
                <string>{121,23}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/quanyuanyoujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,989},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/qunxiong_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,735},{113,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,86}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/renmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1076},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shanghaibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,860},{88,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,31}}</string>
                <key>sourceSize</key>
                <string>{88,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shanghaipaihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,825},{150,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,29}}</string>
                <key>sourceSize</key>
                <string>{150,29}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shanglungongxianpaixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1102},{211,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,55}}</string>
                <key>sourceSize</key>
                <string>{211,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shanglungongxianpaixu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,524},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shijierukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,760},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shijierukou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,701},{180,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,55}}</string>
                <key>sourceSize</key>
                <string>{180,55}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,806},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,819},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,510},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shu_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,708},{113,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,86}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/shu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1109},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,221},{114,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,37}}</string>
                <key>sourceSize</key>
                <string>{114,37}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tingtianyouming.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,926},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tital1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,350},{646,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,36}}</string>
                <key>sourceSize</key>
                <string>{646,36}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tital2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{577,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,36}}</string>
                <key>sourceSize</key>
                <string>{577,36}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tital3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{490,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,36}}</string>
                <key>sourceSize</key>
                <string>{490,36}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tital4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,390},{635,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,36}}</string>
                <key>sourceSize</key>
                <string>{635,36}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/tuwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,970},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/warshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,470},{348,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,28}}</string>
                <key>sourceSize</key>
                <string>{348,28}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/warshibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,430},{318,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,28}}</string>
                <key>sourceSize</key>
                <string>{318,28}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,806},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,350},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wei_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,510},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wei_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1072},{113,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,86}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wei_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,970},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,806},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,221},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,510},{180,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,292}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wu_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1072},{113,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,86}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/wu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1023},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/xiezhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1032},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/xiugaigonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,699},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/xuanzeguojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1102},{353,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,78}}</string>
                <key>sourceSize</key>
                <string>{353,78}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/yuanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,470},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/yuanjunguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,858},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/zhengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,430},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/zphb.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,989},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>commonUI/res/lk/WarUI/zphb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,895},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WarUI_Text.png</string>
            <key>size</key>
            <string>{1019,1186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3eed14515e3342809cb38913c0aa814:1/1$</string>
            <key>textureFileName</key>
            <string>WarUI_Text.png</string>
        </dict>
    </dict>
</plist>
