<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/cs/CombatOverPopUI/huodejiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,107},{119,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,30}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1},{80,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,40}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/Results_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{220,58}}</string>
				<key>offset</key>
				<string>{45,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,120}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/Results_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{220,58}}</string>
				<key>offset</key>
				<string>{46,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,120}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/Results_solider.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,57},{90,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,101}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/wujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1},{90,104}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,108}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/wupindiaoluo.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,58},{123,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,31}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/zhandoushengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{196,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,55}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/zhandoushibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{198,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,54}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/zhangong.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,43},{76,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,40}</string>
			</dict>
			<key>commonUI/res/cs/CombatOverPopUI/cicizhandouweihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{307,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CombatOverPopUI.png</string>
			<key>realTextureFileName</key>
			<string>CombatOverPopUI.png</string>
			<key>size</key>
			<string>{1016,159}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>159</integer>
		</dict>
	</dict>
</plist>