<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/CombatOverPopUI/Results_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{221,58}}</string>
                <key>offset</key>
                <string>{44,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,28},{221,58}}</string>
                <key>sourceSize</key>
                <string>{383,120}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/Results_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{221,58}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,29},{221,58}}</string>
                <key>sourceSize</key>
                <string>{383,120}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/Results_solider.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,25},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/cicizhandouweihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1},{307,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,20}}</string>
                <key>sourceSize</key>
                <string>{307,20}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/huodejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,25},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/wujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,25},{90,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{90,104}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/wupindiaoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{123,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,31}}</string>
                <key>sourceSize</key>
                <string>{123,31}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/zhandoushengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1},{196,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/zhandoushibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,60},{198,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,54}}</string>
                <key>sourceSize</key>
                <string>{198,54}</string>
            </dict>
            <key>commonUI/res/cs/CombatOverPopUI/zhangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,69},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CombatOverPopUI.png</string>
            <key>size</key>
            <string>{803,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:128baab60f7a36895b4973b4c95d2434:1/1$</string>
            <key>textureFileName</key>
            <string>CombatOverPopUI.png</string>
        </dict>
    </dict>
</plist>
