<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/HuoDongPopUI/chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,42},{52,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,26}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czhd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,102},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czhd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czjh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,102},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/czjh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dixming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,235},{142,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,27}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/huodongjieshao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,1},{79,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,19}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/huodongshijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,22},{79,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,18}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/leijichongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,240},{100,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,26}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/leijixiaofei.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,211},{100,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,27}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ljxf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,102},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ljxf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,55},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ttzb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,201},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ttzb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/xianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,70},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/yuanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,94},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/chongzhi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,297},{141,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,25}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/cjhl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,201},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/cjhl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrth1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,201},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrth2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhsc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,203},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhsc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,1},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ykjl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,203},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/ykjl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,102},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhscxuyao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{617,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,52}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhwanc.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,55},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhwuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/hhyex.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,157},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/mrlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,79},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/tili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,300},{302,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,50}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/yklb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,157},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,133},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzshl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/dzshl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/qwdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,264},{116,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,31}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/sgxm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,257},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,97}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/sgxm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,156},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/jjbwj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,300},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
			<key>commonUI/res/lk/HuoDongPopUI/jjbwj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,102},{247,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HuoDongPopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>HuoDongPopUI_Text.png</string>
			<key>size</key>
			<string>{2047,398}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>398</integer>
		</dict>
	</dict>
</plist>