<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/EnhanceUI/cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,89},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceUI/shengji_enhance.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceUI/shibingpeiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1},{301,353}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{301,353}}</string>
                <key>sourceSize</key>
                <string>{303,357}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceUI/wujiangjinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1},{301,353}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{301,353}}</string>
                <key>sourceSize</key>
                <string>{303,357}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceUI/wujiangshengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{301,353}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{301,353}}</string>
                <key>sourceSize</key>
                <string>{303,357}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnhanceUI_Text.png</string>
            <key>size</key>
            <string>{960,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbdf76b2dfef4ac8325257a880de59fe:1/1$</string>
            <key>textureFileName</key>
            <string>EnhanceUI_Text.png</string>
        </dict>
    </dict>
</plist>
