<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/lk/EnhanceTwoPopUI/jyzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceTwoPopUI/nindewujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{255,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,23}}</string>
                <key>sourceSize</key>
                <string>{255,23}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceTwoPopUI/wujiangdengjidadao.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,38},{288,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,23}}</string>
                <key>sourceSize</key>
                <string>{288,23}</string>
            </dict>
            <key>commonUI/res/lk/EnhanceTwoPopUI/xiaohaowuhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnhanceTwoPopUI_Text.png</string>
            <key>size</key>
            <string>{391,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099c889874c5466fb8fb72b929aa57f2:1/1$</string>
            <key>textureFileName</key>
            <string>EnhanceTwoPopUI_Text.png</string>
        </dict>
    </dict>
</plist>
