<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lk/ui_res/WarUI/1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,787},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>lk/ui_res/WarUI/1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,614},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>lk/ui_res/WarUI/1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,761},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>lk/ui_res/WarUI/1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,441},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>lk/ui_res/WarUI/2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,960},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>lk/ui_res/WarUI/2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,761},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>lk/ui_res/WarUI/2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,653},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>lk/ui_res/WarUI/2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,333},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>lk/ui_res/WarUI/3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,547},{168,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,102}</string>
            </dict>
            <key>lk/ui_res/WarUI/3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,441},{168,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,102}</string>
            </dict>
            <key>lk/ui_res/WarUI/3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,799},{168,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,102}</string>
            </dict>
            <key>lk/ui_res/WarUI/3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{168,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,102}</string>
            </dict>
            <key>lk/ui_res/WarUI/4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,676},{153,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,119}}</string>
                <key>sourceSize</key>
                <string>{153,119}</string>
            </dict>
            <key>lk/ui_res/WarUI/4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{153,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,119}}</string>
                <key>sourceSize</key>
                <string>{153,119}</string>
            </dict>
            <key>lk/ui_res/WarUI/4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,210},{153,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,119}}</string>
                <key>sourceSize</key>
                <string>{153,119}</string>
            </dict>
            <key>lk/ui_res/WarUI/4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{153,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,119}}</string>
                <key>sourceSize</key>
                <string>{153,119}</string>
            </dict>
            <key>lk/ui_res/WarUI/5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,321},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,101}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>lk/ui_res/WarUI/5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,216},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,101}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>lk/ui_res/WarUI/5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,971},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,101}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>lk/ui_res/WarUI/5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,971},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,101}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>lk/ui_res/WarUI/ID_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{211,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,29}}</string>
                <key>sourceSize</key>
                <string>{211,29}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,927},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,556},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg_c.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{428,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,205}}</string>
                <key>sourceSize</key>
                <string>{428,205}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{168,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,216}}</string>
                <key>sourceSize</key>
                <string>{168,216}</string>
            </dict>
            <key>lk/ui_res/WarUI/bg_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,927},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>lk/ui_res/WarUI/blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,426},{94,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,8}}</string>
                <key>sourceSize</key>
                <string>{94,8}</string>
            </dict>
            <key>lk/ui_res/WarUI/bloodbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,960},{98,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,12}}</string>
                <key>sourceSize</key>
                <string>{98,12}</string>
            </dict>
            <key>lk/ui_res/WarUI/cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1},{185,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,19}}</string>
                <key>sourceSize</key>
                <string>{185,19}</string>
            </dict>
            <key>lk/ui_res/WarUI/energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{175,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,13}}</string>
                <key>sourceSize</key>
                <string>{175,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WarUI.png</string>
            <key>size</key>
            <string>{510,1073}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1ca53c94d1854aa57685f1f8374c555:1/1$</string>
            <key>textureFileName</key>
            <string>WarUI.png</string>
        </dict>
    </dict>
</plist>
