<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonUI/res/cs/CombatAwardPopUI/lingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>commonUI/res/cs/CombatAwardPopUI/lingqujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{475,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,366}}</string>
                <key>sourceSize</key>
                <string>{475,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CombatAwardPopUI_Text.png</string>
            <key>size</key>
            <string>{477,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8974abdf7d619539be664c763a9b0a1b:1/1$</string>
            <key>textureFileName</key>
            <string>CombatAwardPopUI_Text.png</string>
        </dict>
    </dict>
</plist>
