<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commonUI/res/lk/CarnivalPopUI/hydr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,0},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/hydr1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,142},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/jrtj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,0},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/jrtj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,208},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/mrxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,0},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/mrxh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,213},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/qrkh.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,0},{660,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,187}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/tejialibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{757,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{757,281}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/ttzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,71},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/ttzb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,213},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/yxzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,71},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/yxzl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,274},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,0},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,51},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,102},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,153},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,204},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,255},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,340},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,372},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,345},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,345},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,391},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,423},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/77.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,423},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/zhzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,71},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/zhzb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,306},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/ljxf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,142},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/ljxf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,279},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/tjlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,142},{163,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,71}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/tjlb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,279},{153,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,66}</string>
			</dict>
			<key>commonUI/res/lk/CarnivalPopUI/hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,187},{660,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,187}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CarnivalPopUI_Text.png</string>
			<key>realTextureFileName</key>
			<string>CarnivalPopUI_Text.png</string>
			<key>size</key>
			<string>{2029,474}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2029</integer>
			<key>height</key>
			<integer>474</integer>
		</dict>
	</dict>
</plist>